{%extends 'temp/index.html'%}
{% load staticfiles%}
{%block body_block%}
<br>
<br>

<div align="center">
<img src="{%static 'image/logo.png'%}">

</div>
<br>
<br>
<div class="container" >
   
<div class="row">
<div class="col-sm-6">
<img class="img-responsive img-ronded"  src="{%static 'image/main.jpg'%}" style="border-radius:9px">

</div>
<div class="col-sm-6 pull-right">

<h1 style="font-family:'Kurale', serif;color:blue"> Hello!!! And Welcome to Mkmtutorials.tech</h1>
<h4 style="font-family:'Kurale', serif"> A perfect place where you can learn coding ,practice by compiling the code and explore something new.<br>Here we have provided the tutorial of most comman

 Programming language which are used in every software development area ie. web development,software application devlopment etc.
</h4>
<h4 style="font-family:'Kurale', serif">So Choose a course and do whatever you want to do  </h4>
<h3 style="font-family:'Kurale', serif">Than...x and Happy coding!!!</h2>
<h2 style="font-family:'Kurale', serif;color:green" >Manish Kumar Mishra</h2>
<h3><span class="glyphicon glyphicon-envelope" style="font-family:'Kurale', serif;color:green"> manishmishra039@gmail.com</span></h3>





</div>
</div>
</div>
<br>
<br>
{%endblock%}