{%extends'temp/index.html;'%}
{%block body_block%}

{%extends 'temp/index.html'%}
{% block body_block%}


<style>

.vertical-menu {
    width: 200px;
    height:655px;
    overflow-y: auto;
}
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: rgb(50,248,100);
    color: white;
}


.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 45%;
}
.main{

     margin-left:-20px;
}
.video-container {
    position: relative;
    padding-bottom: 45%;

	margin-top:40px;
    height:0px;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0px;
    left: 60px;
    width: 100%;
    height: 90%;
}
</style>

<div class="container-fluid main" >
<div class="row">
<div class=" col-sm-2 vertical-menu" style="padding-right:0;">
<nav class="navbar navbar-default menu loader" style="border:none;padding:0px;">
<div class="navbar-header"><!-- for collapsable icon-->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#synavbar" style="background-color:rgb(50,248,100)">
					<strong>Menu</strong>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button><!--end of buttons-->
</div> <!--end of navbar header-->
<div class="collapse navbar-collapse" id="synavbar" style="padding:0;">
  <a href="#" class="active"><strong style="font-size:20px;margin-left:40px">Menu</strong></a>
  <a onclick="play(0)">Introduction to C++</a>
  <a onclick="play(1)">Basic Syntex</a>
  <a onclick="play(2)" class="active">Flow Of Control</a>
  <a href="#">Function</a>
  <a href="#">Pointer</a>
  <a href="#">Array</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
</div>
</nav>
</div>


<div class="col-sm-10  video-container"  >
<iframe  src="//www.youtube.com/embed/SWZfFNyUsxc"
frameborder="0" allowfullscreen="" class="video"></iframe>

<iframe src="//www.youtube.com/embed/a4ngSiKkDXU"
frameborder="0" allowfullscreen="" class="video"></iframe>

<iframe src="//www.youtube.com/embed/0KGP9f3duEg"
frameborder="0" allowfullscreen="" class="video"></iframe>


</div>

</div>
</div>


<script type="text/javascript">


	var video_list=document.getElementsByTagName("iframe");
	function play(arg)
	{
		return video_list[arg];
	}

</script>




{%endblock%}

{%endblock%}